.text-node {
    width:150px;
    height:7vh;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
  }


.customMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixedCustom{
    width:100%;
    height:2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    background-color: #b2f0e4;
}